<p>Hey {{username}},</p>
<p>We recently received a request to reset your StreamersEdge account password.</p>
<p>If you made this request please click the "Reset My Password" link or copy and paste the URL into your browser.</p>
<p><a href='{{url}}'>RESET MY PASSWORD</a></p>
<p>{{url}}</p>
<p>If you did not request to change your password for StreamersEdge or if you need assistance with your account, please visit our support center at <a href='https://streamersedge.com/'>https://streamersedge.com/</a></p>
<p>Warm regards,<br>
The StreamersEdge Team</p>
<p>Copyright © 2019 StreamersEdge<br>
<a href='{{contact}}'>Contact Us</a> | <a href='{{terms}}'>Privacy Policy</a></p>
