<p>Hey {{username}},</p>
<p>Your account has been successfully created! To verify your email address and complete your account creation, please click the verification button below or copy and paste the address into your browser:</p>
<p><a href='{{url}}'>VERIFY ACCOUNT</a></p>
<p>{{url}}</p>
<p>If you would like to change your email preferences, please visit your Account Settings.</p>
<p>If you experience any issues while attempting to confirm your account, please visit our support center at <a href='https://streamersedge.com/'>https://streamersedge.com/</a></p>
<p>Warm regards,<br>
The StreamersEdge Team</p>
<p>Copyright © 2019 StreamersEdge<br>
<a href='{{contact}}'>Contact Us</a> | <a href='{{terms}}'>Privacy Policy</a></p>

