<p>Congratulations {{username}}!</p>
<p>You won the challenge {{challengeName}}</p>
<p>{{url}}</p>
<p>The challenge bounty will be added to your StreamersEdge balance. </p>
<p>If you don't receive the bounty in your StreamersEdge account or if you need assistance with your account, please visit our support center at <a href='https://streamersedge.com/'>https://streamersedge.com/</a></p>
<p>Warm regards,<br>
The StreamersEdge Team</p>
<p>Copyright © 2019 StreamersEdge<br>
<a href='{{contact}}'>Contact Us</a> | <a href='{{terms}}'>Privacy Policy</a></p>
